@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    background: white;
}
body {
    min-height: 100%;
}

.img {
	max-width: 50%; 
	max-height: 400px; 
	text-align:center; 
	margin: 0 auto;
}

.footer{
	position: relative;
	margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:70px;   
    padding: 15px 0;
    text-align: center;
    background: #080808;
	color: #9D9D9D;
}

.push{
	height:380px;   
}

.space {
	height: 30px;
}

