@charset "UTF-8";

html, body, .tab-content {
	width: 100%;
	height: 100%;
}

.region button:hover {
	border-color: black;
}

.nav-link {
	font-weight: bold;
	color: black;
}

#map {
	width: 80%;
	height: 80%;
	margin: 0px auto;
}


.nav-item {
	border-bottom: 1px solid gray;
}

.tab-color:hover {
	background-color: #D8D8D8;
	color: black;
}

#mainMap {
	width: 80%;
	height: 80%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.btn-dobong {
	width: 5.925%;
	height: 3.355%;
	position: absolute;
	left: 57.1%;
	top: 22.5%;
}
.btn-nowon {
	width: 5.925%;
	height: 3.355%;
	position: absolute;
	left: 64.5%;
	top: 26.2%;
	}

.btn-gangbuk {
	width: 5.925%;
	height: 3.355%;
	position: absolute;
	left: 53.1%;
	top: 28.7%;
	}
	
.btn-sungbuk {
	width: 5.925%;
	height: 3.355%;
	left: 53.6%;
	top: 38%;
	position: absolute;
}

.btn-eunpyeong {
	width: 5.925%;
	height: 3.355%;
	left: 38.45%;
	top: 32.7%;
	position: absolute;
}

.btn-seodaemun {
	width: 7%;
	height: 3.355%;
	left: 39.2%;
	top: 44.5%;
	position: absolute;
}

.btn-jongro  {
	width: 5.925%;
	height: 3.355%;
	left: 47.6%;
	top: 43%;
	position: absolute;
}

.btn-dongdaemun  {
	width: 7%;
	height: 3.355%;
	left: 60%;
	top: 43.3%;
	position: absolute;
}

.btn-jungrang {
	width: 5.925%;
	height: 3.355%;
	left: 67.7%;
	top: 39.7%;
	position: absolute;
}

.btn-jung  {
	width: 3.95%;
	height: 3.355%;
	left: 51.1%;
	top: 48.8%;
	position: absolute;
}

.btn-mapo  {
	width: 5.925%;
	height: 3.355%;
	left: 35.1%;
	top: 48.8%;
	position: absolute;
}

.btn-yongsan  {
	width: 5.925%;
	height: 3.355%;
	left: 47.5%;
	top: 56.1%;
	position: absolute;
}

.btn-sungdong  {
	width: 5.925%;
	height: 3.355%;
	left: 58.2%;
	top: 50.7%;
	position: absolute;
}

.btn-gwangjin {
	width: 5.925%;
	height: 3.355%;
	left: 66.2%;
	top: 52.7%;
	position: absolute;
}

.btn-gangseo {
	width: 5.925%;
	height: 3.355%;
	left: 19.4%;
	top: 47.7%;
	position: absolute;
}

.btn-yangcheon {
	width: 5.925%;
	height: 3.355%;
	left: 26%;
	top: 58.9%;
	position: absolute;
}

.btn-guro {
	width: 5.925%;
	height: 3.355%;
	left: 24%;
	top: 65.5%;
	position: absolute;
}

.btn-yeongdeungpo {
	width: 7%;
	height: 3.355%;
	left: 34.8%;
	top: 58.2%;
	position: absolute;
}

.btn-geumcheon  {
	width: 5.925%;
	height: 3.355%;
	left: 32.8%;
	top: 70.8%;
	position: absolute;
}

.btn-dongjak {
	width: 5.925%;
	height: 3.355%;
	left: 41.5%;
	top: 63%;
	position: absolute;
}
.btn-gwanak {
	width: 5.925%;
	height: 3.355%;
	left: 41.5%;
	top: 72.2%;
	position: absolute;
}
.btn-seocho {
	width: 5.925%;
	height: 3.355%;
	left: 52.3%;
	top: 67.2%;
	position: absolute;
}
.btn-gangnam {
	width: 5.925%;
	height: 3.355%;
	left: 59.6%;
	top: 63.7%;
	position: absolute;
}
.btn-songpa {
	width: 5.925%;
	height: 3.355%;
	left: 69.8%;
	top: 61.5%;
	position: absolute;
}
.btn-gangdong {
	width: 5.925%;
	height: 3.355%;
	left: 75.6%;
	top: 50.7%;
	position: absolute;
}