<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.project.DAO.BuyerDAO">

<select id="buyerLogin" parameterType="java.util.HashMap" resultType="int">
	select count(*) from buyer where id = #{id} and pw = #{pw}
</select>

</mapper>