<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.project.DAO.PurchaseGdsDAO">


<select id="sellectCount" parameterType="String" resultType="int">
	select count(*) from purchasehistory where buyerid = #{id}
</select>

<select id="selectList" resultType="purchaseGdsVO" parameterType="java.util.HashMap">
	<![CDATA[
	select idx, buyerid, gdsname, num, price, origin, category, dop, image_name, image_size, store, area, del_status from 
	(SELECT ROWNUM rn, tt.* FROM (SELECT * FROM purchasehistory order by idx desc) 
	TT where buyerid = #{buyerid} and #{area} in (select area from buyer)) 
	where rn >= #{startNo} AND rn <= #{endNo}
	]]>
</select>

<select id="getbuyerid" resultType="BuyerVO" parameterType="String">
	select * from buyer where id = #{id}
</select>

<insert id="paymentInsert" parameterType="purchaseGdsVO">
insert into payment(idx, buyer_id, DOP, name, phonenum, address, del_status, num) 
values (payment_seq.nextval, #{BuyerID}, sysdate, #{name}, #{phonenum}, #{address}, '배송전', #{num})
</insert>

<select id="select" parameterType="int" resultType="sellerGdsVO">
select seller_id, name, price, category, image_name from sellgds
where idx = #{sellerGdsVO_idx}
</select>

<update id="paymentupdate" parameterType="sellerGdsVO">
<![CDATA[
	update payment set seller_id = #{seller_id}, goods_name = #{name}, 
	price = #{price}, category = #{category}, img_name = #{image_name}
	where idx = (SELECT idx FROM (SELECT * FROM payment ORDER BY idx DESC) 
	WHERE ROWNUM <= 1)
]]>
</update>

<update id="moneyUpdate" parameterType="java.util.HashMap">
update buyer set money = money - (#{price} * #{num}) where id = #{id}
</update>

</mapper>