@charset "UTF-8";

<<<<<<< HEAD
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

p { margin:20px 0px; }


=======
.table {
	border: 2px thin;
	border-color: #422a3a;
	font: sans-serif;
	font-style: normal;
	color: #968fff;
}

.imgSize{
	height: 250px;
	width: auto;
	max-width: 200px;
	max-height: 200px;
	margin: 40px;
	margin-top: 60px;
}

.img {
	height: 150px;
	width: auto;
	max-width: 200px;
	max-height: 200px;
}
>>>>>>> refs/heads/parkc




